
    {% extends 'includes/master.html' %}
  

     {% block content %}



{% load crispy_forms_tags %}
<div class="container row py-5 justify-content-center">
<div class="card col-md-6">
<div class="card-body">
<h4 class="card-title">Log in to your account</h4>
<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="/">
{{ form|crispy }}
<button type="submit" class="btn btn-primary btn-block" style="background-color:#ff6768;">Log in</button>
</form>
</div>
</div>
</div>

{% endblock content %}